@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*{  
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
:root {
--Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);

--White: hsl(0, 0%, 100%);
--Grayish-blue: hsl(240, 2%, 79%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-black-blue: hsl(240, 10%, 16%);


--Very-light-red-2: hsl(13, 100%, 72%);
--Light-red-2: hsl(353, 100%, 62%);
--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated-blue: hsl(237, 23%, 32%);

--maxWidth : 1180px;


}

body{
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    
  
    color: var(--White);


}
a{
    color: inherit;
    font-weight: 700;
}
.__header{
    display: flex;
    padding: 60px 25px;
    max-width: var(--maxWidth);
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.__logo_nav{
    display: flex;
    gap: 55px;
    align-items: center;
 
}
.__links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.__links li:not(.__category_links_ul li){
    position: relative;
    cursor: pointer;
}
.__links li:not(.__category_links_ul li)::after{
    content: "";
    display: block;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: calc(100% + 7px);
    transform: translateY(-50%);
    background: url(assets/icon-arrow-light.svg) ;
    transition: transform .5s ease-in-out;
}

.__links  li:not(.__category_links_ul li):hover>a{
        text-decoration: underline;
        text-decoration-thickness: 2px;
     
}
.__links li:not(.__category_links_ul li):hover::after{
   
    transform: translateY(-50%) rotate(180deg);
}
.__category_links_ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  border-radius: 5px;
  padding: 40px 25px;
  width: 150px;
  background: var(--White);

}
.__category_links_ul li:hover{
    color: var(--Very-dark-black-blue);
    font-size: 17px;
}
.__category_links{
    display: none;
    position: absolute;
    /* top: calc(100% + 60px); */
    /* margin-top: 60px; */
    left:-20px;
    z-index: 10;

    
    color: var(--Very-dark-desaturated-blue);

}
.__transparent-gap{
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
}
.__links  li:not(.__category_links_ul li):hover>.__category_links{
    display: block;
}
.__Login_Signup{
    display: flex;
    align-items: center;
    gap: 35px;
}
.__btn_white{
    padding: 12px 36px ;
    background: white;
    color: var(--Very-light-red);
    border-radius: 35px;
}
.__btn_outline{
    padding: 12px 36px ;
    border: 2px solid white;
    border-radius: 35px;
}
.__btn_outline:hover{
    background: white;
    color: var(--Very-light-red);
}
.__btn_white:hover{
    background: var(--Very-light-red);
    color: var(--White);
}
.__section1{
    background: url(assets/bg-pattern-intro-desktop.svg) no-repeat left calc(50% + 400px) top calc(50% - 65px) , linear-gradient(90deg, var(--Very-light-red-2), var(--Light-red-2)) no-repeat;
    background-attachment: fixed;
    border-end-start-radius: 5em;
}

.__hero_intro{
    max-width: var(--maxWidth);
    /* margin: 15vh auto; */
    margin: 0 auto;
    padding: 15vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.__hero_wrapper{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}
#hero-title{
    font-size: 60px;
}
#hero-title + p{
    font-size: 18px;
}
.__hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.__hero_actions{
    display: flex;
    align-items: center;
    gap: 35px;
}
.__section2{
    color: var(--Very-dark-desaturated-blue);

    background: var(--White);
    position: relative;
    background:  url(assets/illustration-editor-desktop.svg) no-repeat left calc(100% + 265px) top 0;
    /* background-size: cover; */
    padding-bottom: 250px;
}
.__header_2{
    display: flex;
    justify-content: center;
    padding: 80px 25px;
    font-size: 24px;
}
.__section2_content, .__section4_content{
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 20px;
}
.__section4_content{
    align-items: end;
}
.__article{
    width: 36vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--Very-dark-grayish-blue);
    line-height: 1.9em;
    
}
.__article h2{
    color: var(--Very-dark-desaturated-blue);
}
.__article p{
    padding-right: 16px;
}
.__article:nth-child(2) p{
    padding-right: 18px;
}

.__section3{
    position: relative;
    display: flex;
    background: url(assets/bg-pattern-circles.svg) left -218px  bottom 15% no-repeat,
   linear-gradient(90deg, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));

    border-start-end-radius: 5em;
    border-end-start-radius: 5em;
    margin-bottom: 50px;
    justify-content: end;
}

.__article_sec3{
    padding: 124px 205px 90px 80px;
    display: flex;
    /* margin-bottom: 63px; */
    flex-direction: column;
    gap: 25px;
    width: 55%;
    
}
.__article_sec3 h2{
    font-size: 34px;
    font-weight: 500;
}
.__article_sec3 p{
    line-height: 1.8em;
    color: var(--Grayish-blue);
}
.__img_wrapper {
    position: absolute;
    top: -68px;
    left: 117px;
}
.__section4{
    padding: 250px 0;
    background: url(assets/illustration-laptop-desktop.svg) no-repeat left calc(0% - 274px) center;
}
.__footer{
    background: var(--Very-dark-black-blue);
    border-start-end-radius: 5em;
}

.__footer_content{
    display: flex;
    max-width: var(--maxWidth);
    margin: 0 auto;
    gap: 17vw;
    padding: 70px 0;
}
.__grid_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 75px; */
    justify-content: space-between;
    width: 100%;
}
.__grid_item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.__grid_item ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Grayish-blue);
}
.__grid_item ul li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.__hamburegr_menu{
display: none;
}
@media only screen and (max-width: 1199px){

    :root{
        --maxWidth : 950px
    }
    .__img_wrapper img{
        width: 380px;
        height: 380px;
     }
}

@media only screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    button, a{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .__navbar{
        display: none;
    }
    .__Login_Signup{
        display: none;
    }
    .__logo_nav {
        width: 100%;
        gap: 0;
        align-items: center;
        line-height: 0.5em;
        justify-content: space-between;
        }
    .__hamburegr_menu{
        display: block;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
       
    }


    #hero-title{
        font-weight: 500;
        font-size: 32px;
       
    }
    #hero-title + p {
        font-size: 16px;
    }
    .__btn_white, .__btn_outline {
        font-weight: 700;
        padding: 12px 22px;
    }
    .__header_2 h1{
        font-size: 28px;
    }
    .__hero_intro{
        padding-top: 6vh;
    }
    .__hero_content{
        padding: 0 43px;
        gap: 15px;
    }
    .__section1{
        background: url(assets/bg-pattern-intro-mobile.svg) no-repeat left 38% top 37%, linear-gradient( var(--Very-light-red-2), var(--Light-red-2)) no-repeat;
    }
    .__section2_content, .__section4_content {
        align-items: center;
        margin-top: 301px;
    }
    .__section4_content{
        margin-top: 150px;
    }
    .__article{
        width: 90vw;
        text-align: center;
    }
    .__section2{
        background: url(assets/illustration-editor-mobile.svg) no-repeat center top 14%;
    }
    .__section3{
        padding: 25px;
        background: url(assets/bg-pattern-circles.svg) left 56% top -213px no-repeat, linear-gradient( var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
        background-size: cover;
    }

    .__img_wrapper{
        /* width: 100%; */
        top: 9%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .__article_sec3{

  
    margin-top: 185px;

   width: unset;
   padding: unset;
    text-align: center;
    padding-bottom: 50px;
    }
 .__section4{
    background: url(assets/illustration-laptop-mobile.svg) no-repeat center top;
 }
 .__footer_content {
     flex-direction: column;
     align-items: center;

 }
 .__grid_content {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 70px;
}
.__navbar{
    display: none;
    background: white;
    color: var(--Very-dark-desaturated-blue);
    position: absolute;
    z-index: 100;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    justify-content: center;
    padding: 40px 20px;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}
.__links{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 35px;

}
.__links li:not(.__category_links_ul li)::after{

    background: none;
   
}
.__links li a:not(.__category_links_ul li a){
    position: relative;
}
.__links li a:not(.__category_links_ul li a)::after {

    content: "";
    display: block;
    width: 10px;
    height: 7px;
    position: absolute;
    top: 50%;
    left: calc(100% + 7px);
    transform: translateY(-50%);
    background: url(assets/icon-arrow-dark.svg) ;
    transition: transform .5s ease-in-out;
   
}

.__category_links_ul li:hover {
    color: var(--Very-dark-grayish-blue);
    font-size: 16px;
}

 .__links  li:not(.__category_links_ul li){
     text-align: center;
 }
 .__links  li:not(.__category_links_ul li):focus>.__category_links>ul{
   display: flex;
   background-color: red;
 }
.__Login_Signup{
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    color: var(--Very-dark-desaturated-blue);
    top: calc(145px + 173px);
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 10px #bdbd;
    padding-top: 145px;
    gap: 24px;
}
#signup_btn{
    background: linear-gradient(90deg, var(--Very-light-red), var(--Light-red));
    color: white;
    padding: 12px 36px;
}
#login_btn{
    font-size: 20px;
}
.__transparent-gap{
    display: none;
}
.__category_links{
    
    position: unset;
    margin-top: 26px;
    color: var(--Very-dark-grayish-blue);
}
.__category_links_ul{
    padding: 0;
    text-align: center;
    gap: 20px
}

}